body {
  background: #eee;
  color: #222;
}

.wrapper {
  max-width: 800px;
  margin: 64px auto;
}

h1 {
  font-size: xxx-large
}

p {
  font-size: large;
}

.box {
  width: 600px;
  height: 400px;
  background: #888;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s, transform 1s;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}